*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: "work.sans" , sans-serif ;
}
:root{
    --main-color:#10cab7;
    --section-padding:60px;
}
html{
    scroll-behavior: smooth;
}
/* components */
.spacial-heading{
    color: #ebeced;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    margin: 0;
    letter-spacing: -6px;
}
.spacial-heading + p{
    font-size: 19px;
    letter-spacing: 1px;
    text-align: center;
    margin: -33px 0 0;
    color: #797979;
}
@media ( max-width:768px){
.spacial-heading{
    font-size: 80px;
}
}

.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left:auto ;
    margin-right: auto;
}
/* small */
@media(min-width:768){
    .container{
        width: 750px;
    }
}
/* medium */
@media(min-width:992px){
    .container{
        width: 970px;
    }
}
/* large */
@media(min-width:1200px){
    .container{
        width: 1170px;
    }
}
/* start header */
.header{
    padding: 20px;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 60px;
}
.header .links{
    position: relative;
}
.header .links:hover .icon span:nth-child(2){
    width: 100%;
}
.header .links .icon{
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.header .links .icon span {
    background-color: #333;
    height: 2px;
    margin-bottom: 5px;
}
.header .links .icon span:first-child{
    width: 100%; 
} 

.header .links .icon span:nth-child(2){
    width: 60%; 
    transition: 0.3s;
} 
.header .links .icon span:last-child{
    width: 100%; 
} 
.header .links ul{
    margin: 0;
    background-color: #f6f6f6;
    list-style: none;
    padding: 0;
    position: absolute;
    right: 0;
    min-width: 200px;
    top: calc(100% + 15px);
    display: none;
    z-index: 1;
}
.header .links:hover ul{
    display: block;
}
.header .links ul::before{
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    top: -19px;
    right: 6px;
}
.header .links ul li a{
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition: 0.3;
}
.header .links ul li a:hover{
    padding-left: 25px;
}
.header .links ul li:not(:last-child) a{
    border: 1px solid #ddd;
}
/* end header */
/* <!--start landing section--> */
.landing{
    background-image: url(../imges/pexels-pixabay-355770.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
}
.landing .intro-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    text-align: center;
    width: 256px;
    max-width: 100%;
}
.landing .intro-text h1{
    margin: 0;
    color:var(--main-color);
    font-size:47px ;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.landing .intro-text p{
    line-height: 1.8;
}
.feature{
    background-color: #f6f6f6;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.feature .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px , 1fr));
    grid-gap: 20px;
}
.feature .feat{
    padding: 20px;
    text-align: center;
}
.feature .feat i{
    color: var(--main-color);
}
.feature .feat h3{
    font-size: 25x;
    font-weight: 800;
}

.feature .feat p{
    line-height: 1.8;
    color: #777;
    font-size: 20px;
}
/* start services */
.services{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.services .services-content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px , 1fr));
    grid-gap: 30px;
    margin-top: 100px;
}
.services .services-content .srv{
    display: flex;
    margin-bottom: 40px;
}
@media (max-width:767px){
.services .services-content .srv{
    flex-direction: column;
    text-align: center;
}
}

.services .services-content .srv  i {
color:var(--main-color);
flex-basis: 60px;
}
.services .services-content .srv .text {
    flex: 1;
}
.services .services-content .srv .text h3{
    margin: 0 0 20px;
} 
.services .services-content .srv .text p {
    color: #444;
    font-weight: 300;
    line-height: 1.8;
}
.services .services-content  .image{
    text-align: center;
    position: relative;
}
.services .services-content  .image::before{
    content: "";
    background-color: #2c4755;
    width: 92px;
    height: 400px;
    position: absolute;
    z-index: -1;
    right: 6px;
    top: -44px;
}
.services .services-content  .image img{
    width: 238px;
}
.portfolio{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: #f6f6f6;
}
.portfolio .portfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px , 1fr));
    grid-gap: 30px;
    margin-top: 80px;
}
/* .portfolio .portfolio-content .card img{
    width: 360px;
    height: 240px;
} */
.portfolio .portfolio-content .card{
    background-color: white;
} 
.portfolio .portfolio-content .card img{
    max-width: 100%;
}
.portfolio .portfolio-content .card .info{
    padding: 20px;
}
.portfolio .portfolio-content .card .info h3{
    margin: 0;
}
.portfolio .portfolio-content .card .info p{
    color: #444;
    font-weight: 300;
    line-height: 1.8;
    margin-bottom: 0;
}
.about{
    padding-top: var(--section-padding);
    padding-bottom:calc(var(--section-padding) + 60px) ;
}
.about .about-content{
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    justify-content: space-between;
}
.about .about-content .image{
    position: relative;
    width: 250px;
    height: 375px;
    margin-left: 50px;
}
.about .about-content .image::before{
    content: "";
    position: absolute;
    background-color: #ebeced;
    width: 100px;
    height: calc(100% + 80px);
    z-index: -1;
    top: -40px;
    right: 171px;
}



.about .about-content .image::after{
    content: "";
    border-bottom: 80px solid var(--main-color);
    position: absolute;
    width: 120px;
    height: 300px;
    border-left: 80px solid var(--main-color);
    top: -40px;
    left: 191px;
    z-index: -1;
}

.about .about-content .image img{
    width: 100%;
} 
.about .about-content .text{
    flex-basis: calc(100% - 500px);
    width: 100px;
}
.about .about-content .text p:first-of-type{
    width: 563px;
    line-height: 2;
    margin-bottom: 50px;
    font-weight: bold;
}

.about .about-content .text hr{
    width: 303px;
    display: inline-block;
    border-color: var(--main-color);
}
.about .about-content .text p:last-of-type{
    width: 563px;
    line-height: 2;
    color: #777;
}
@media(max-width:991){
    .about .about-content p:first-of-type{
        width: 500px;
    }
}
.contact{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color:#f6f6f6;
}
.contact .info {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;

}
.info .lable{
    color: #2c4755;
    font-size: 35px;
    font-weight: 800;
    letter-spacing: -2px;
    margin-bottom: 12px;
}
.info a{
    color: var(--main-color);
    text-decoration: none;
    font-size: 35px;
    font-weight: 600;
}
.info .social{  
    display: flex;
    justify-content: center;
    margin-top:16px ;
    font-size: 16px;
    margin-bottom: 20px;
}
.info .social i{
    color:#2c4755 ;
    margin-left: 10px;
}
@media (max-width:767px){
    .info .lable{
        font-size: 28px;
    }
}
.footer{
    background-color: #2c4755;
    text-align: center;
    font-size: 18px;
    padding: 30px 10px;
    color: white;
}
.footer span{
    font-weight: bold;
    color: var(--main-color);
    letter-spacing: 1.6px;
}